@import "_config/variables";
@import "_config/mixins";
@import "~knacss/sass/knacss";
@import "./utils";

:root {
  --transitions: outline 0.2s, border 0.2s;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  //font-family: "Archivo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  //color: #dde2ff;
  transition: var(--transitions);
  &:focus {
    outline: none;
    border: $color-brand solid 3px;
  }
}

body {
  margin: 0;
  background-color: #1f1f22;
}

[class*="grid-6"] {
  align-items: center;
  justify-items: center;
}

.topsection {
  height: 100vh;
  width: 100%;
  position: relative;

  &-center {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ::before {
      background-color: #141414;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.7;
      z-index: -5;
    }
  }

  * {
    font-family: "Muli", sans-serif;
    line-height: 7rem;
  }
}

main {
  *:not(.dot) {
    color: #f1f1f1;
  }
}

header {
  * {
    color: $color-primary;
  }
}

header {
  .animatedbackground {
    // background: -webkit-linear-gradient(
    //   top,
    //   rgba(188, 199, 255, 1) 0%,
    //   rgba(79, 187, 202, 0.4) 54%,
    //   rgba(79, 187, 202, 0) 100%
    // );
    background-color: #1f1f22;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -10;

    transition: none;

    .dot {
      position: fixed;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: #6da6b6;
      opacity: 0.8;
      transition: none;
    }
  }
}

.projects {
  .mode-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    height: 1em;
    transition: height 0.5s, margin 0.5s;
    .switch {
      &:focus {
        border: initial;
      }
      &:checked::before {
        content: "";
      }
      &::before {
        content: "";
      }
    }
    label {
      margin-bottom: 0;
    }
  }

  .chooser {
    justify-content: center;
    align-items: center;
    height: 10em;
    transition: all 0.5s;
    .mode-chooser {
      height: 8em;
      width: 100%;
      background-color: $color-primary;
      color: #1b2957;
      border-radius: 3px;
      transition: var(--transitions), all 0.25s;
      &:hover {
        background-color: #e0f8ff;
        box-shadow: 0px 1px 2px 5px #4f4f4f;
        transform: translateY(-2px);
      }
      &:focus {
        outline: white 3px;
      }
    }
    * {
      padding: 1rem;
    }
    img {
      display: block;
      height: 60%;
      margin: auto;
    }
  }
}

@import "./terminal.scss";
@import "./modal.scss";

.hidden {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

@include respond-to(medium) {
}
